code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body {
  font-family: monospace;
}

.navbar-nav {
  text-align: center;
  padding: 2px;
}
.nav-item {
  text-align: center;

  padding: 5px;
}
.navbar {
  display: flex;
}
a {
  color: black;
}
.text-green {
  color: rgb(78, 131, 0);
  font-size: 20px;
}
.text-red {
  color: rgb(144, 0, 0);
  font-size: 20px;
}
.btn-vis {
  background: rgb(164, 206, 126);
  border-radius: 10px;
  color: aliceblue;
  padding: 8px;
  font-weight: 200;
  border: black;
}
.btn-hid {
  cursor: not-allowed;
  pointer-events: none;
  background: rgb(189, 180, 180);
  opacity: 50%;
  border-radius: 10px;
  color: aliceblue;
  padding: 8px;
  font-weight: 200;
  border: black;
}

.filter {
  position: fixed;
  top: 65px;
  right: 0;
}
.products {
  text-align: center;
  display: grid;
  padding: 35px;
  background: rgb(255, 255, 255);
  box-shadow: 10px;
  text-shadow: black 10px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 15rem;
  max-width: 20rem;
  display: flex;
  border-radius: 3rem;
  padding: 2rem;
}
.center-img {
  text-align: center;
}
.price {
  font-weight: 500;
  position: relative;
}
.category {
  text-align: center;
  display: grid;
  margin-right: auto;
  padding: 1rem;
  background: rgb(253, 253, 253);
  box-shadow: 10px;
  text-shadow: black 10px;
}
.input-group {
  text-align: center;
  display: grid;
  font-family: monospace;
  font-weight: 100;
}
.radio {
  border: 60rem;
}
